# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# build output
dist/
.vercel/
.netlify/

# macOS
.DS_Store

# editor
.vscode/
.idea/

# astro
.astro/

# cloudflare
.wrangler/
_worker.js
.dev.vars